@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

// Colours
$colour-background: #101010;
$colour-background-light: #ffffff;
$colour-text: #FEFEFE;
$colour-text-dark: #111111;

// Fonts
$font-bold: 'Teko', Arial, sans-serif;
$font-code: 'Courier New', monospace; //Always use with bold
$font-title: 'Play', sans-serif;

// Media
$small: 400px;
$mobile: 600px;
$medium: 900px;
