@use "vars";

.labels {
    margin-top: -.75em;
    margin-left: 2.5em;

    color: vars.$colour-text;

    font-size: .55em;
    text-decoration: underline;
    text-transform: uppercase;

    pointer-events: none;
}

.selectionArea {
    border: 1px solid rgba( 255, 255, 255, .5);
    border-radius: 100%;

    cursor: crosshair;
    pointer-events: all;
    z-index: 5;
}

.targetSelection {
    padding: 0;
    margin: 0;

    background-repeat: no-repeat;
    background-position: center center;

    pointer-events: none;
    z-index: 0;
}
